@url bgGen bgGeneral;
@url bgCon bgContent;

a {
    color: #c7c7c7;
    text-decoration: none;
}

a:hover {
    color: darkorange;
}

body {
    background-clip: border-box;
    background: rgba(0, 0, 0, 0) bgGen scroll;
    background-origin: padding-box;
    background-size: auto;
    box-sizing: border-box;
    color: rgb(199, 199, 199);
    display: block;
    line-height: 18px;
    font-family: Verdana, serif;
}

button {
    margin: 2px;
    background-color: #fff;
    font-size: 13px;
    border: 1px solid #B6B6B6;
    border-radius: 0;
    padding: 6px 12px;
    cursor: pointer;
    box-shadow: 2px 2px 0 rgba(0, 0, 0, .15);
}

.popup {
    background-clip: border-box;
    background: rgba(0, 0, 0, 0) bgGen scroll;
    background-origin: padding-box;
    background-size: auto;
    box-sizing: border-box;
    color: rgb(199, 199, 199);
    padding: 10px;
}

.header {
    padding: 15px;
}

.logo {
    color: #c7c7c7;
    text-shadow: 1px 1px 1px #000;
    float: left;
    font-size: 18px;
    padding: 7px 15px;
    text-decoration: none;
}

.shadowed {
    background: rgba(0, 0, 0, .35);
    box-shadow: 0 0 5px rgba(0, 0, 0, .42) inset, 0 1px 0 rgba(255, 255, 255, .1);
}

.view-block {
    background: rgba(0, 0, 0, .15);
    box-shadow: 0 0 5px rgba(0, 0, 0, .42) inset, 0 1px 0 rgba(255, 255, 255, .1);
    width: 870px;
    display: inline-block;
    margin-top: 10px;
    padding: 10px;
}

.block-title {
    font-size: 12px;
    font-weight: 400;
    line-height: 100%;
    text-shadow: none;
    background: #333;
    display: inline-block;
    color: #fff;
    padding: 6px 10px 5px;
    text-transform: uppercase;
    box-shadow: 2px 2px 0 rgba(0, 0, 0, .2);
    margin: 0 0 15px;
}

.shortcut {
    width: 105px;
    margin: 0 10px 10px 0;
    height: 19px;
    text-align: center;
    vertical-align: middle;
    position: relative;
    float: left;
    padding: 20px 9px;
    box-shadow: inset 0 0 8px rgba(0, 0, 0, .2), 0 1px 0 #fff;
    border: 1px solid #ccc;
    background: #fff;
    font-family: Verdana, serif;
    color: black;
    font-size: 15px;
    text-decoration: none;
    -webkit-transition-duration: 0.4s;
}

.shortcut:hover {
    font-size: 18px;
}

ul.menu {
    -webkit-background-clip: border-box;
    -webkit-background-origin: padding-box;
    -webkit-background-size: auto;
    -webkit-box-shadow: rgba(0, 0, 0, 0.419608) 0 0 5px 0 inset, rgba(255, 255, 255, 0.0980392) 0 1px 0 0;
    -webkit-font-smoothing: antialiased;
    background-clip: border-box;
    background: rgba(0, 0, 0, 0.34902) none scroll;
    background-origin: padding-box;
    background-size: auto;
    box-shadow: rgba(0, 0, 0, 0.419608) 0 0 5px 0 inset, rgba(255, 255, 255, 0.0980392) 0 1px 0 0;
    box-sizing: border-box;
    color: rgb(199, 199, 199);
    display: block;
    font-size: 15px;
    height: 414px;
    line-height: 18px;
    list-style: none outside none;
    margin: 15px;
    padding: 12px;
    width: 170px;
}

.content {
    background-image: bgCon;
    margin: 16px;
    padding: 20px 20px 35px;
    position: relative;
    color: #333;
    box-shadow: inset 0 0 6px rgba(0, 0, 0, .8);
    width: 900px;
    overflow: auto;
}

.menu > li > a {
    border-bottom: 1px solid #292929;
    padding: 7px 7px;
    display: block;
    color: #C7C7C7;
    font-size: 15px;
    text-decoration: none;
}

.shadowed > li > a:hover, a.shadowed:hover {
    color: darkorange;
}

.top-search {
    float: right;
    position: relative;
    display: inline-block padding-right : 30 px;
}

.margin-left-15, div.margin-left-15 {
    margin-left: 15px;
}

.login {
    float: right;
    margin: 5px;
    position: relative;
    display: inline-block padding-right : 30 px;
}

.form-control {
    padding-left: 8px;
    padding-right: 8px;
    color: #555;
}

.pad10 {
    padding: 10px;
}

.ovrflwAuto {
    overflow: auto;
}

.width97 {
    width: 97%;
}

.form-control:focus {
    outline: 0;
}

.top-search .form-control {
    height: 35px;
    font-family: inherit;
    width: 230px;
}

.top-search input[type=text] {
    border: 0;
    background: 0 0;
}

.float-right {
    float: right;
}

.display-inline-block {
    display: inline-block;
}

.login-panel {
    height: 132px;
    box-shadow: 0 0 5px rgba(0, 0, 0, .42) inset, 0 1px 0 rgba(255, 255, 255, .1);
}

.not-visible {
    visibility: hidden;
}



