.glass {
    opacity: 0.4;
    background-color: aliceblue;
}

.green {
    background-color: darkgreen;
}

.red {
    background-color: darkred;
}

.padding-top-bot-5 {
    padding-bottom: 5px;
    padding-top: 5px;
}

.display-inline {
    display: inline;
}

.dialogbox-caption {
    background-color: black;
    width: 100%;
    padding: 5px;
}

.float-right {
    float: right;
}

.text-center {
    text-align: center;
    vertical-align: middle;
}

.textbox {
    padding-bottom: 5px;
    padding-top: 5px;
}

.textbox label {
    width: 100px;
}

.textbox input {
    height: 30px;
}

.passwordbox {
    padding-bottom: 5px;
    padding-top: 5px;
}

.passwordbox label {
    width: 100px;
}

.passwordbox input {
    height: 30px;
}



