.glass {
    opacity: 0.4;
    background-color: aliceblue;
}

.padding-top-bot-5 {
    padding-bottom: 5px;
    padding-top: 5px;
}

.display-inline {
    display: inline;
}

.textbox {
    padding-bottom: 5px;
    padding-top: 5px;
}

.textbox label {
    width: 100px;
}

.textbox input {
    height: 30px;
}

.passwordbox {
    padding-bottom: 5px;
    padding-top: 5px;
}

.passwordbox label {
    width: 100px;
}

.passwordbox input {
    height: 30px;
}



